

body {
	/* Simple and keeps us constant */
	font-family: 'Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
	font-size: 62.5%;
	line-height: 2.2em;
	margin: 0;
	background: #FFF;
	color: #333;
}
h1, h2, legend {
	font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
}
h1 {
	font-weight: 900;
	font-size: 1.9em;
	margin: 0.6em 0;
}
h2 {
	font-weight: 400;
	font-size: 1.7em;
	margin: 0.8em 0;
}
p, ul, pre {
	font-size: 1.5em;
	margin-top: 1em;
}
ul ul {
	font-size: 1em;
}
#header {
	font: 1.1em/1em Arial,sans-serif;
	width: 90%;
	height: 3em;

	background: #0CA2FF;
	border-bottom: 1px solid #0B8AD9;

	padding: 0 5%;
	margin: 0;
}
#navigation {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 1em;
	position: absolute;
	top: 0.5em;
}
#navigation li {
	display: inline;
	list-style-type: none;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	white-space: nowrap;
}
#navigation li a {
	color: #FFF;
	text-decoration:none;
	padding: 0.3em 1em;
	line-height: 200%;
	display: block;
}
#alert {
	background: #0CA2FF;
	padding: 1.5em;
	color: #FFF;
}
#alert p {
	margin: 0.1em;
	padding: 0;
}
#alert a {
	color: #FFF;
}
.dialog {
	width: 70%;
	max-width: 700px;
}

#main {
	margin: 0 auto;
	padding: 1em;
	clear: both;
}

/* Forms */
fieldset {
	border: none;
	padding: 0;
	margin: 1em 0 0;
}
legend {
	font-size: 1.7em;
	margin: 0.8em 0 0.4em;
	padding: 0;
}
.row {
	clear: both;
	margin: 1em auto 2em;
	width: 80%;
	overflow: hidden;
}
.row label {
	display: block;
	float: left;
	text-align: right;
	width: 40%;
	margin-left: -2em;
	padding: 2px 2em 2px 0;
	font-size: 1.2em;
}
.row input, .row select {
	width: 56%;
	padding: 3px;
	margin: 0;
	font-size: 1.3em;
	font-family: Arial, sans-serif;
}
.sidenote {
	clear: both;
	padding: 0;
	margin: 0.5em 0;
	font-size: 1em;
	color: #AAA;
	text-align: center;
}
p.buttons {
	font-size: 1em;
	text-align: center;
}
button, .button {
	margin: 0 4px;
	padding: 4px 8px;
	font-size: 1.2em;
	color: #fff;
	background: #0CA2FF;
	border: 1px solid #0CA2FF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	text-align: center;
	cursor: pointer;
	font-family: 'Lucida Grande',Verdana,Arial,Helvetica,sans-serif;

	text-decoration: none;
}
button.positive, .button.positive {
	background: #037F0C;
	border-color: #037F0C;
}
button.negative, .button.negative {
	background: #B2080A;
	border-color: #B2080A;
}

#loading, .ui-widget-overlay {
	background: #000000 none repeat scroll 0 0;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(opacity=5);

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

#loading {
	background: #000 url("loading.gif") no-repeat center center;
	display: none;
	cursor: wait;
}

.ui-dialog {
	background: #FFFFFF none repeat scroll 0 0;
	border: 4px solid #000000;
	overflow: visible !important;
	padding: 10px;

	position: relative;
	width: 300px;
}
.ui-widget-header {
	background: none;
	border: none;
}

.ui-dialog .ui-dialog-titlebar {
	padding: 0;
	font-family: Helvetica, Verdana, sans-serif;
	font-weight: bold;
	font-size: 18px;

	padding: 10px 10px 0;
	position: relative;
}

.ui-dialog.error .ui-dialog-titlebar, 
.ui-dialog.confirmation .ui-dialog-titlebar {
	color: #BD1D1B;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
	color: #aaa;
	font-size: 0.8em;
	float: right;
}
.ui-dialog.confirmation .ui-dialog-titlebar .ui-dialog-titlebar-close { display: none; }

#dialog {
	font-size: 13px;
	margin: 0;
}
#dialog p {
	font-size: 1em;
	margin: 0;
}
#dialog .error-message {
	background: #E9E9E9;
	border: 1px solid #999999;
	font-family: Monaco,Courier,monospace;
	font-size: 12px;
	line-height: 1.4em;
	padding: 10px;
}