

body {
	/* Simple and keeps us constant */
	font-family: 'Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
	font-size: 62.5%;
	line-height: 2.2em;
	margin: 0;
	background: #FFF;
	color: #333;
}
h1, h2, legend {
	font-family: 'Lucida Grande', Verdana, Arial, Helvetica, sans-serif;
}
h1 {
	font-weight: 900;
	font-size: 1.9em;
	margin: 0.6em 0;
}
h2 {
	font-weight: 400;
	font-size: 1.7em;
	margin: 0.8em 0;
}
p, ul, pre {
	font-size: 1.5em;
	margin-top: 1em;
}
ul ul {
	font-size: 1em;
}

#alert {
	background: #0CA2FF;
	padding: 1.5em;
	color: #FFF;
}
#alert p {
	margin: 0.1em;
	padding: 0;
}
#alert a {
	color: #FFF;
}
.dialog {
	width: 70%;
	max-width: 700px;
}
/* Forms */
fieldset {
	border: none;
	padding: 0;
	margin: 1em 0 0;
}
legend {
	font-size: 1.7em;
	margin: 0.8em 0;
	padding: 0;
}
.row {
	clear: both;
	margin: 1em auto;
	width: 80%;
	overflow: hidden;
}
.row label {
	display: block;
	float: left;
	text-align: right;
	width: 40%;
	margin-left: -2em;
	padding: 0.5em 2em 0.5em 0;
	font-size: 1.2em;
}
.row input, .row select {
	width: 56%;
	padding: 0.6em;
	margin-bottom: 1em;
	font-size: 1.3em;
	font-family: Arial, sans-serif;
}
.row .sidenote {
	clear: both;
	padding: 0;
	margin: 0.5em 0;
	font-size: 1em;
	color: #AAA;
	text-align: center;
}
.submit {
	clear: both;
	width: 20%;
	margin: 0 auto;
	font-size: 1.6em;
	background: #eee;
	border: 1px solid #CCC;
}

.loading {
	position: absolute;
	padding: 2px;
	background: #000 url("loading.gif") no-repeat center center;
	opacity: 0.45;
	filter:alpha(opacity: 45);
	-moz-opacity: 0.45;
	-khtml-opacity: 0.45;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#lightbox-overlay {  
	top:0;
	left:0;
	z-index:1;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: #000;
	opacity: 0.45;
	-moz-opacity: 0.45;
	filter:alpha(opacity=45);
}
#lightbox-content {
	background: #DCD8D7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	z-index: 2;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 680px;
	height: 50%;
	margin: auto;
}