/**
 * Cast: (in order of appearance)
 */

/* Header section */
#header {
	position: fixed;
	top: 0;
	z-index: 20;
}
#sitetitle {
	margin: 0.7em 0;
	padding: 0;
	color: #FFF;
	float: right;
	font-size: 1.4em;
}
#sitetitle a {
	color: #FFF;
	text-decoration: none;
	font-weight: normal;
}
#sitetitle a:hover {
	text-decoration: underline;
}
#skip {
	display: none;
}
#navigation > li > a {
	margin-left: 0.1em;
}
#navigation > li.current > a, #navigation > li.hovering > a {
	background: #fff;
	color: #2d2d2d;
}
#navigation > li > a:hover, #navigation > li.hovering > a {
	background-color: #eee;
	color: #2d2d2d;
}
#navigation > li.hovering > .submenu {
	display: block !important;
}
#navigation > li.has-submenu > a:after {
	content: " \25BD";
}
#navigation > li.current.has-submenu > a:after {
	content: " \25BC";
}
#navigation li ul {
	min-width: 98%;
	background: #eee;
	border: 1px solid #0B8AD9;
	border-top: 0;
	display: none;
	margin: 0;
	padding: 0.5em 0;
	overflow: auto;
	position: absolute;
	/* Inter-browser cooperation - *sigh* */
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-khtml-border-bottom-left-radius: 3px;
	-khtml-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
#navigation li li {
	float: none;
	display: block;
	position: relative;
}
#navigation li li a {
	display: block;
	color: #2d2d2d;
}
#navigation li li a:hover {
	background-color: #0CA2FF;
	color: #fff;
}
#navigation li.current ul {
}
#navigation li li.current a {
}
#navigation li.current li a:hover {
}

#main {
	width: 90%;
	max-width: 960px;
	margin-top: 5em;
	margin-bottom: 5em;
}

.item-table {
	border-collapse: collapse;
	border-spacing: 1px;
	border: 1px solid #CCC;
	width: 100%;
	margin: 1em auto;
}
.item-table thead {
	background: #0CA2FF;
	color: #FFF;
	white-space: nowrap;
}
.item-table tbody tr {
	border-bottom: 1px solid #CCC;
}
.item-table .remove-col {
	text-align: center;
}
.item-table td.remove-col {
	font-size: 1em;
}
.item-table th, .item-table td {
	text-align: left;
	vertical-align: top;
	padding: 10px 6px;
	font-size: 1.2em;
}
.item-table tr:nth-child(2n), .item-table tr.alt {
	background: #F3F7FE;
}
.item-table input {
	width: 100%;
}
.item-table tbody .remove-col span {
	cursor: pointer;
}
.item-table #nofeeds {
	display: none;
}
.item-table #nofeeds td {
	text-align: center;
}


#footer {
	margin: 0;
	padding: 15px 5%;
	background: #4D4D4D;
	color: #999;
	text-align: center;
	font-size: 1em;
	color: #aaa;
}
#footer a {
	color: #FFF;
	text-decoration: none;
}

/* Humanised Messages */
.humanMsg {
	font: normal 1.2em Helvetica, Arial, Sans-Serif;
	position: fixed;
	top: 40px;
	left: 10px;
	width: 30%;
	max-width: 300px;
	color: white;
	text-align: left;
	z-index: 900;
	display: none;
	padding: 0px;
}

body.login .humanMsg {
	top: 10px;
}

.humanMsg .imsgs .msg {
	padding: 10px;
	background-color: black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0px 1px 5px #333;
	margin-bottom: 5px;
}

.humanMsg p {
	display: inline;
}

.humanMsg p a {
	color: #19a5d1;
}

.humanMsg .imsgs .msg {
	display: none;
	opacity: 0;
}

.humanMsg .imsgs .message {
	color: #aaa;
	background-color: #eee !important;
	font-size: 0.8em;
}

.humanMsg .imsgs .error {
}

#humanMsgLog {
	font: normal 10px Helvetica, Arial, Sans-Serif;
	color: white;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 200px;
	display: none;
	z-index: 10000;
}

#humanMsgLog p:hover {
	opacity: 1;
}

#humanMsgLog p {
	opacity: .3;
	position: relative;
	left: 50%;
	width: 200px;
	margin: 0;
	margin-left: -100px;
	padding: 0 10px;
	line-height: 20px;
	background: #333;
	text-align: center;
	white-space: pre;
	cursor: pointer;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
}

#humanMsgLog.logisopen p {
	opacity: 1;
}

#humanMsgLog ul {
	background: #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAARCAIAAACaSvE/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNqEjVEKACAIQ516Ee//5wVNCjIjaB/iY5vC3YkoIgDkVDOjQ5pqLCI3r2bLFzNzyydvM4uKqfJPKN4vyl9LO/7o3/6PhwADAIWkFPjc5eRrAAAAAElFTkSuQmCC) repeat-x;
	margin: 0;
	padding: 0;
	position: relative;
	max-height: 180px;
	overflow: auto;
	display: none;
}

#humanMsgLog ul li {
	color: #555;
	font-size: 12px;
	list-style-type: none;
	border-bottom: 1px solid #ddd;
	line-height: 40px;
	display: none;
	padding: 0 20px;
	position: relative;
	overflow: hidden;
	white-space: pre;
}

#humanMsgLog ul li:hover {
	background: #f2f2f2;
}

#humanMsgLog ul li:first-child {
	margin-top: 1px;
}

#humanMsgLog ul li .error {
	color: #FF4500;
}

#humanMsgLog ul li .indent {
	position: absolute;
	top: 0;
	left: 100px;
	margin-right: 200px;
	height: inherit;
}