/**
 * Cast: (in order of appearance)
 */

body {
	/* Simple and keeps us constant */
	font-family: Arial, sans-serif;
	font-size: 62.5%;
	margin: 0;
	background: #FFFFFF;
}

#header {
	line-height: 1.7em;
	font-size: 1.1em;
	width: 90%;
	height: 4em;

	background: #2d2d2d;
	border-bottom: 1px solid #000;

	padding: 0 5%;
	margin: 0;

	position: fixed;
	top: 0;
}
#sitetitle {
	margin: 0.7em 0;
	padding: 0;
	color: #FFF;
	float: right;
	font-size: 1.4em;
}
#sitetitle a {
	color: #FFF;
	text-decoration: none;
	font-weight: normal;
}
#sitetitle a:hover {
	text-decoration: underline;
}
#navigation {
	padding: 1em 0;
}
#skip {
	display: none;
}
#mainnavigation {
	margin: 0;
	display: block;
	padding: 0;
	margin: 0;
}
#navigation li {
	display: inline;
	margin: 0;
	padding: 0;
}
#navigation li a {
	color: #FFF;
	text-decoration:none;
	padding: 0.6em;
}
#navigation li a:hover {
	background-color: #FFF;
	color: #662;
}
#navigation li.current a:hover {
	background-image: url("dropdown-hover.png");
	background-color: #FFF;
	color: #662;
}
#navigation li.current a {
	background: #0ca2ff url("dropdown.png") no-repeat 90% center;
	padding-right: 26px;
}
#dropmenu {
	display: none;
}

#alert {
	border: 1px solid #2580B2;
	background: #CFEBF7;
	padding: 1.5em;
}
#alert p {
	margin: 0.1em;
	padding: 0;
}

#main {
	width: 60%;
	max-width: 700px;
	margin: 5em 5%;
	padding: 1em;
	clear: both;
	font-size: 1.1em;
	background-color: #FFF;
	border: 1px solid #CCC;
}

#main h2 {
	border-bottom: 3px double #CCC;
}
#main h3 {
	border-bottom: 1px solid #CCC;
}

/* Table */
#feeds_list {
	border-collapse: collapse;
	border-spacing: 1px;
	width: 100%;
	border: 1px solid #CCC;
}
/* Section */
#feeds_list thead {
	background: #0CA2FF;
	color: #FFF;
}
#feeds_list tbody tr {
	border-bottom: 1px solid #CCC;
}
/* Columns*/
#feeds_list .change-col, #feeds_list .remove-col {
	text-align: center;
}
/* Cells */
#feeds_list th, #feeds_list td {
	text-align: left;
	vertical-align: top;
	padding: 12px 6px;
	font-size: 0.8em;
}


fieldset {
	border: 1px solid #CCC;
	margin: 1em;
}
.option {
	clear: both;
	padding-bottom: 1em;
}
.option label {
	display: block;
	float: left;
	width: 30%;
	text-align: right;
	margin-right: 2em;
}
.option input {
	width: 14em;
}
.option span.sidenote {
	float: right;
	width: 300px;
	border: 1px solid #CCC;
	padding: 0.4em;
	margin-left: 10px;
}

#footer {
	margin: 0;
	padding: 15px 5%;
	background: #4D4D4D;
	color: #999;
	text-align: center;
}
#footer a {
	color: #FFF;
	text-decoration: none;
}